include LICENSE.txt
include MANIFEST.in
include README.rst

global-include *.pyx
global-include *.pxd
global-include *.c

recursive-include tests *
recursive-include docs *.rst conf.py Makefile make.bat

global-exclude *.py[co]
global-exclude __pycache__
